// Table Base
// scss-lint:disable NestingDepth
// TODO: break up into smaller mixins

@mixin elr-table-base($config: ()) {
    $config: extend((
        background-color: #fff,
        color: #111,
        hover-background: #1976d2,
        border: 1px solid #ccc,
        stripes: #e2e2e2,
        border-radius: 5px,
        danger-color: #f7322f,
        warning-color: #d1cb34,
        success-color: #619262,
        muted-color: #ccc,
        header-color: #666
    ), $config);

    $background-color: map-get($config, background-color);
    $color: map-get($config, color);
    $hover-background: map-get($config, hover-background);
    $link-color: map-get($config, hover-background);
    $border: map-get($config, border);
    $danger-color: map-get($config, danger-color);
    $warning-color: map-get($config, warning-color);
    $success-color: map-get($config, success-color);
    $muted-color: map-get($config, muted-color);
    $stripes: map-get($config, stripes);
    $border-radius: map-get($config, border-radius);
    $header-color: map-get($config, header-color);

    color: $color;
    border-spacing: 0;
    text-align: left;
    width: 100%;
    // margin: 10px auto 30px;

    @if $border-radius != 0 {
        border-collapse: separate;
    }

    @media (max-width: 768px) {
        max-width: 600px;
        overflow-x: scroll;
    }

    @media (max-width: 568px) {
        max-width: 400px;
    }

    tbody {
        background-color: $background-color;

        tr {
            &:hover {
                background-color: $hover-background;
                color: #fff;
            }

            border: $border;

            &:last-child td {
                border-bottom: $border;
            }

            @if $border-radius > 0 {
                &:first-child {

                    td:first-child {
                        border-radius: $border-radius 0 0;
                        overflow: hidden;
                    }

                    td:last-child {
                        border-radius: 0 $border-radius 0 0;
                        overflow: hidden;
                    }
                }

                &:last-child {
                    td {
                        &:first-child {
                            border-radius: 0 0 0 $border-radius;
                            overflow: hidden;
                        }

                        &:last-child {
                            border-radius: 0 0 $border-radius;
                            overflow: hidden;
                        }
                    }
                }
            }

            @if ($stripes) {
                &:nth-child(even) {
                    background-color: $stripes;

                    &.elr-danger-row {
                        background-color: lighten($danger-color, 10%);
                        color: #fff;
                    }

                    &.elr-warning-row {
                        background-color: lighten($warning-color, 10%);
                        color: #fff;
                    }

                    &.elr-success-row {
                        background-color: lighten($success-color, 10%);
                        color: #fff;
                    }

                    &.elr-muted-row {
                        background-color: $muted-color;
                        color: #fff;
                    }

                    &:hover {
                        background-color: $hover-background;
                        color: #fff;
                    }
                }
            }
        }
    }

    tr {
        &.elr-danger-row {
            background-color: lighten($danger-color, 10%);
            color: #fff;
        }

        &.elr-warning-row {
            background-color: lighten($warning-color, 10%);
            color: #fff;
        }

        &.elr-success-row {
            background-color: lighten($success-color, 10%);
            color: #fff;
        }

        &.elr-muted-row {
            background-color: $muted-color;
            color: #fff;
        }
    }

    th,
    td {
        padding: 5px 10px;
    }

    th {
        font-size: to-rems(14px);
        font-weight: 700;
        color: $header-color;
    }

    td {
        font-size: to-rems(14px);
        font-weight: normal;
        border-top: $border;

        &:first-child {
            border-left: $border;
        }

        &:last-child {
            border-right: $border;
        }
    }
}
